<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
      <add name="PawnShopDB" providerName="Microsoft.SqlServerCe.Client.3.5"
           connectionString="Data Source=C:\PawnShopData\PawnShopDB.sdf"/>
    </connectionStrings>
  <appSettings>
    <add key="SalesTax" value="7.73"/>
    <add key="MinInvoice" value="1000"/>
    <add key="MaxInvoice" value="9000"/>
	  <add key="InvoicePath" value="C:\PawnShopData\Invoices\"/>
	  <add key="PurchasePath" value="C:\PawnShopData\Purchases\"/>
	  <add key="FinanceCharge" value="0.20"/>
    <add key="ReportPath" value="C:\PawnShopData\Reports\"/>
    <add key="PawnReceiptPath" value="C:\PawnShopData\PawnReceipts\"/>
    <add key="PawnPaymentReceiptPath" value="C:\PawnShopData\PawnPaymentReceipts\"/>
  </appSettings>
	
</configuration>